Repository woowa-techcamp-2022/web-fleemarket-02, pull requests merged in 2022-08, with the labels that each got.

#4 [Feat / BE] MySQL2 를 통한 NestJs 종속성 주입 및 DB 연결
  .gitignore
  packages/server/package.json
  packages/server/src/app.controller.ts
  packages/server/src/app.module.ts
  packages/server/src/app.service.ts
  packages/server/src/database/database.module.ts
  packages/server/src/database/database.service.ts
  packages/server/src/main.ts
  packages/server/tsconfig.json
  packages/server/tsconfig.paths.json
  yarn.lock
Labels: server, feat

#9 [Feat / BE] TypeORM 적용 및 Category 관련 API로직 생성
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/base/BaseEntity.ts
  packages/server/src/category/category.controller.ts
  packages/server/src/category/category.module.ts
  packages/server/src/category/category.service.ts
  packages/server/src/category/entities/category.entity.ts
  packages/server/src/database/database.module.ts
  packages/server/src/database/database.service.ts
  packages/server/src/main.ts
  yarn.lock
Labels: server, feat, refactor

#10 [Feat / BE] Location 관련 API로직 생성
  packages/server/src/app.module.ts
  packages/server/src/location/dto/location.dto.ts
  packages/server/src/location/entities/location.entity.ts
  packages/server/src/location/location.controller.ts
  packages/server/src/location/location.module.ts
  packages/server/src/location/location.service.ts
Labels: server, feat

#11 [Feat / BE] AWS S3 연결 및 Image Controller 생성
  .yarnrc.yml
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/image/image.controller.ts
  packages/server/src/image/image.module.ts
  packages/server/src/utils/multerOptionsFactory.ts
  yarn.lock
Labels: server, feat

#16 [Feat / BE] User 관련 API로직 생성
  packages/server/src/app.module.ts
  packages/server/src/user/dto/userInsert.dto.ts
  packages/server/src/user/dto/userSearch.dto.ts
  packages/server/src/user/dto/userUpdate.dto.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
Labels: server, feat

#18 [Refactor / BE] 예외 처리 개선
  packages/server/src/base/CustomException.ts
  packages/server/src/constant/ErrorMessage.ts
  packages/server/src/filter/HttpException.filter.ts
  packages/server/src/location/dto/location.dto.ts
  packages/server/src/location/location.controller.ts
  packages/server/src/location/location.service.ts
  packages/server/src/main.ts
  packages/server/src/user/dto/userInsert.dto.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.service.ts
Labels: server, feat, refactor

#19 [Feat / BE] Product 관련 API를 추가하였습니다.
  packages/server/src/app.module.ts
  packages/server/src/category/category.controller.ts
  packages/server/src/category/category.module.ts
  packages/server/src/category/category.service.ts
  packages/server/src/constant/ErrorMessage.ts
  packages/server/src/constant/enum.ts
  packages/server/src/location/location.module.ts
  packages/server/src/location/location.service.ts
  packages/server/src/product/dto/productInsert.dto.ts
  packages/server/src/product/dto/productSearch.dto.ts
  packages/server/src/product/entities/product.entity.ts
  packages/server/src/product/product.controller.ts
  packages/server/src/product/product.module.ts
  packages/server/src/product/product.service.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
  packages/server/src/wish/entities/wish.entity.ts
  packages/server/src/wish/wish.module.ts
  packages/server/src/wish/wish.service.ts
Labels: server, feat

#21 [Feat / BE] User 관련 인증 로직 및 OAuth 구현
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.module.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/entities/auth.entity.ts
  packages/server/src/auth/guards/jwt-auth.guard.ts
  packages/server/src/auth/guards/local-auth.guard.ts
  packages/server/src/auth/strategies/jwt.strategy.ts
  packages/server/src/auth/strategies/local.strategy.ts
  packages/server/src/decorator/user.decorator.ts
  packages/server/src/main.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.service.ts
  packages/server/src/utils/crypto.ts
  packages/server/src/utils/setAuth.ts
  packages/server/tsconfig.paths.json
  yarn.lock
Labels: server, feat

#24 [Feat / FE] 프론트엔드 의존성 추가 및 절대 경로 설정
  packages/client/craco.config.js
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/tsconfig.paths.json
  yarn.lock
Labels: client, feat

#25 [feat / BE] User_location 관련 API로직 생성
  packages/server/src/app.module.ts
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/constant/ErrorMessage.ts
  packages/server/src/interceptor/transform.interceptor.ts
  packages/server/src/main.ts
  packages/server/src/product/dto/productSearch.dto.ts
  packages/server/src/product/entities/product.entity.ts
  packages/server/src/product/product.module.ts
  packages/server/src/product/product.service.ts
  packages/server/src/user/dto/userInsert.dto.ts
  packages/server/src/user/dto/userLocation.dto.ts
  packages/server/src/user/dto/userProductSearch.dto.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
  packages/server/src/userLocation/UserLocation.module.ts
  packages/server/src/userLocation/UserLocation.service.ts
  packages/server/src/userLocation/entites/UserLocation.entity.ts
  packages/server/src/wish/wish.service.ts
Labels: server, feat

#27 [Feat / FE] Base Components 생성
  packages/client/package.json
  packages/client/public/index.html
  packages/client/src/components/base/Button/CButton.tsx
  packages/client/src/components/base/Button/LButton.tsx
  packages/client/src/components/base/Button/index.tsx
  packages/client/src/components/base/Chat/Badge.tsx
  packages/client/src/components/base/Chat/Bubble.tsx
  packages/client/src/components/base/Fab/index.tsx
  packages/client/src/components/base/Image/ImageButton.tsx
  packages/client/src/components/base/Image/index.tsx
  packages/client/src/components/base/Input/index.tsx
  packages/client/src/components/base/Tab/index.tsx
  packages/client/src/components/base/Text/index.tsx
  packages/client/src/components/icons/CategoryIcon.tsx
  packages/client/src/components/icons/CheckIcon.tsx
  packages/client/src/components/icons/CloseIcon.tsx
  packages/client/src/components/icons/DownIcon.tsx
  packages/client/src/components/icons/HeartIcon.tsx
  packages/client/src/components/icons/ImageIcon.tsx
  packages/client/src/components/icons/LeftIcon.tsx
  packages/client/src/components/icons/LogoutIcon.tsx
  packages/client/src/components/icons/MapPinIcon.tsx
  packages/client/src/components/icons/MenuIcon.tsx
  packages/client/src/components/icons/MessageIcon.tsx
  packages/client/src/components/icons/PlusIcon.tsx
  packages/client/src/components/icons/RightIcon.tsx
  packages/client/src/components/icons/SendIcon.tsx
  packages/client/src/components/icons/UserIcon.tsx
  packages/client/src/components/icons/VerticalIcon.tsx
  packages/client/src/setupTests.ts
  packages/client/src/theme/GlobalStyle.tsx
  packages/client/src/theme/emotion.d.ts
  packages/client/src/theme/index.ts
  packages/client/src/theme/reset.ts
  yarn.lock
Labels: client, feat

#28 [Refactor / BE] 트랜잭션 처리 및 SQL문 분리
  packages/server/.eslintrc.js
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/entities/auth.entity.ts
  packages/server/src/base/Pagination.dto.ts
  packages/server/src/category/category.service.ts
  packages/server/src/category/entities/category.entity.ts
  packages/server/src/constant/queries.ts
  packages/server/src/database/database.module.ts
  packages/server/src/filter/HttpException.filter.ts
  packages/server/src/location/dto/location.dto.ts
  packages/server/src/location/entities/location.entity.ts
  packages/server/src/location/location.service.ts
  packages/server/src/product/dto/productSearch.dto.ts
  packages/server/src/product/entities/product.entity.ts
  packages/server/src/product/product.controller.ts
  packages/server/src/product/product.module.ts
  packages/server/src/product/product.service.ts
  packages/server/src/user/dto/userInsert.dto.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.module.ts
  packages/server/src/user/user.service.ts
  packages/server/src/userLocation/UserLocation.service.ts
  packages/server/src/userLocation/entites/UserLocation.entity.ts
  packages/server/src/wish/entities/wish.entity.ts
  packages/server/src/wish/wish.service.ts
  packages/server/tsconfig.paths.json
Labels: server, refactor

#33 [Feat / FE] LoginPage, CoverPage 생성
  packages/client/src/App.tsx
  packages/client/src/components/base/Button/index.tsx
  packages/client/src/components/base/Input/index.tsx
  packages/client/src/components/modules/FloatButton/index.tsx
  packages/client/src/components/modules/Header/index.tsx
  packages/client/src/components/modules/LoginForm/index.tsx
  packages/client/src/components/template.tsx
  packages/client/src/index.tsx
  packages/client/src/pages/CoverPage.tsx
  packages/client/src/pages/LoginPage.tsx
  packages/client/src/theme/GlobalStyle.tsx
  packages/client/src/theme/index.ts
Labels: client, feat

#36 [feat / FE] 메인 페이지 및 카테고리 페이지 추가
  packages/client/src/App.tsx
  packages/client/src/components/base/Fab/index.tsx
  packages/client/src/components/modules/CategoryItem/index.tsx
  packages/client/src/components/modules/MainHeader/index.tsx
  packages/client/src/components/modules/ProductItem/index.tsx
  packages/client/src/components/template.tsx
  packages/client/src/pages/CategoryPage.tsx
  packages/client/src/pages/MainPage.tsx
  packages/client/src/theme/reset.ts
Labels: client, feat

#39 [feat / FE] 상품 등록 페이지 추가
  packages/client/src/App.tsx
  packages/client/src/components/base/Button/RButton.tsx
  packages/client/src/components/modules/FloatButton/index.tsx
  packages/client/src/components/modules/ProductWriteHeader/index.tsx
  packages/client/src/components/modules/ProductWriteImage/index.tsx
  packages/client/src/components/modules/ProductWriteTitle/index.tsx
  packages/client/src/hooks/useImageInput.ts
  packages/client/src/hooks/usePriceInput.ts
  packages/client/src/pages/CategoryPage.tsx
  packages/client/src/pages/ProductWritePage.tsx
Labels: client, feat

#40 [Feat / FE] 회원가입 관련 컴포넌트 생성
  packages/client/src/App.tsx
  packages/client/src/components/base/Button/index.tsx
  packages/client/src/components/base/Input/index.tsx
  packages/client/src/components/icons/GithubIcon.tsx
  packages/client/src/components/modals/ModalPortal.tsx
  packages/client/src/components/modals/SearchLocationModal.tsx
  packages/client/src/components/modules/FloatButton/index.tsx
  packages/client/src/components/modules/GithubLoginButton/index.tsx
  packages/client/src/components/modules/InputBox/index.tsx
  packages/client/src/components/modules/LocationForm/index.tsx
  packages/client/src/components/modules/LoginForm/index.tsx
  packages/client/src/components/modules/SignUpForm/index.tsx
  packages/client/src/components/template.tsx
  packages/client/src/constants/auth.ts
  packages/client/src/contexts/SignUpContext.tsx
  packages/client/src/dummy/location.ts
  packages/client/src/hooks/useInput.ts
  packages/client/src/hooks/useModal.ts
  packages/client/src/pages/CoverPage.tsx
  packages/client/src/pages/SignUpPage.tsx
  packages/client/src/pages/SigninUpLoPage.tsx
  packages/client/src/utils/validationHandler.ts
  packages/client/tsconfig.paths.json
Labels: client, feat

#42 [Feat] CacheStore 생성 및 관련 로직 작성
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/apis/auth.ts
  packages/client/src/apis/category.ts
  packages/client/src/apis/index.ts
  packages/client/src/apis/location.ts
  packages/client/src/apis/product.ts
  packages/client/src/apis/user.ts
  packages/client/src/components/base/Button/LButton.tsx
  packages/client/src/components/modals/SearchLocationModal.tsx
  packages/client/src/components/modules/GithubLoginButton/index.tsx
  packages/client/src/components/modules/InputBox/index.tsx
  packages/client/src/components/modules/LocationForm/index.tsx
  packages/client/src/components/modules/LoginForm/index.tsx
  packages/client/src/components/modules/SignUpForm/index.tsx
  packages/client/src/constants/actions.ts
  packages/client/src/constants/api.ts
  packages/client/src/contexts/CacheContext.tsx
  packages/client/src/contexts/SignUpContext.tsx
  packages/client/src/dummy/location.ts
  packages/client/src/hooks/useMutation.ts
  packages/client/src/hooks/useQuery.ts
  packages/client/src/index.tsx
  packages/client/src/pages/SignUpLoPage.tsx
  packages/client/src/pages/SigninUpLoPage.tsx
  packages/client/src/reducers/fetchReducer.ts
  packages/client/src/types/category.type.ts
  packages/client/src/types/core.type.ts
  packages/client/src/types/location.type.ts
  packages/client/src/types/product.type.ts
  packages/client/src/types/user.type.ts
  packages/client/src/utils/queryStringHandler.ts
  packages/client/src/utils/validationHandler.ts
  packages/client/tsconfig.paths.json
  packages/server/src/auth/auth.controller.ts
  packages/server/src/auth/auth.service.ts
  packages/server/src/auth/guards/jwt-auth.guard.ts
  packages/server/src/auth/strategies/local.strategy.ts
  packages/server/src/constant/queries.ts
  packages/server/src/location/dto/location.dto.ts
  packages/server/src/location/location.service.ts
  packages/server/src/main.ts
  packages/server/src/user/dto/userInsert.dto.ts
  packages/server/src/user/entities/user.entity.ts
  packages/server/src/user/user.service.ts
  yarn.lock
Labels: client, feat, refactor

#46 [Feat] Auth HOC 및 Token Refresh 로직 생성
  packages/client/src/apis/auth.ts
  packages/client/src/apis/index.ts
  packages/client/src/constants/api.ts
  packages/client/src/contexts/CacheContext.tsx
  packages/client/src/hoc/auth.tsx
  packages/client/src/hooks/useFetchScroll.ts
  packages/client/src/hooks/useMutation.ts
  packages/client/src/hooks/useQuery.ts
  packages/client/src/pages/MainPage.tsx
  packages/client/src/pages/ProductWritePage.tsx
  packages/client/tsconfig.paths.json
  packages/server/src/auth/auth.controller.ts
  packages/server/src/product/product.controller.ts
  packages/server/src/user/user.controller.ts
Labels: client, feat, refactor

#48 [Feat / FE] 사용자 관심지역 관리 페이지 추가
  packages/client/src/App.tsx
  packages/client/src/apis/auth.ts
  packages/client/src/components/modules/ProductItem/index.tsx
  packages/client/src/contexts/CacheContext.tsx
  packages/client/src/hoc/auth.tsx
  packages/client/src/pages/LocationPage.tsx
  packages/client/src/pages/MainPage.tsx
  packages/client/src/pages/ProductWritePage.tsx
  packages/client/src/types/user.type.ts
  packages/server/src/user/user.controller.ts
  packages/server/src/user/user.service.ts
Labels: client, feat

#50 [Feat / FE] DropDown Component 생성 및 Toast Message 생성
  packages/client/public/index.html
  packages/client/src/App.tsx
  packages/client/src/apis/auth.ts
  packages/client/src/apis/index.ts
  packages/client/src/apis/user.ts
  packages/client/src/components/modules/DropDown/index.tsx
  packages/client/src/components/modules/LoginForm/index.tsx
  packages/client/src/components/modules/ToastMessage/index.tsx
  packages/client/src/components/template.tsx
  packages/client/src/contexts/ToastMessageContext.tsx
  packages/client/src/hoc/auth.tsx
  packages/client/src/hooks/useDetectOutside.ts
  packages/client/src/index.tsx
  packages/client/src/pages/SignUpLoPage.tsx
  packages/client/src/theme/GlobalStyle.tsx
  packages/client/src/types/user.type.ts
Labels: client, feat

#62 [Feat] 채팅 관련 컴포넌트 생성 및 로직 변경
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/apis/chat.ts
  packages/client/src/components/VerifyAuth.tsx
  packages/client/src/components/base/Chat/Badge.tsx
  packages/client/src/components/base/Chat/Bubble.tsx
  packages/client/src/components/base/Image/index.tsx
  packages/client/src/components/modules/Chat/CharListForm.tsx
  packages/client/src/components/modules/Chat/ChatItem.tsx
  packages/client/src/components/modules/ChatDetail/ChatDetailFooter.tsx
  packages/client/src/components/modules/ChatDetail/ChatForm.tsx
  packages/client/src/components/modules/ChatDetail/ChatProductInfo.tsx
  packages/client/src/components/modules/ProductItem/index.tsx
  packages/client/src/components/modules/UserProfileForm/UserChatList.tsx
  packages/client/src/components/modules/UserProfileForm/UserProfile.tsx
  packages/client/src/components/modules/UserProfileForm/UserProfileContent.tsx
  packages/client/src/components/modules/UserProfileForm/index.tsx
  packages/client/src/contexts/CacheContext.tsx
  packages/client/src/hoc/auth.tsx
  packages/client/src/hooks/useQuery.ts
  packages/client/src/hooks/useSocket.ts
  packages/client/src/pages/ChatDetailPage.tsx
  packages/client/src/pages/ProductChatPage.tsx
  packages/client/src/pages/ProductDetailPage.tsx
  packages/client/src/theme/index.ts
  packages/client/src/types/chat.type.ts
  packages/client/src/types/product.type.ts
  packages/server/package.json
  packages/server/src/app.module.ts
  packages/server/src/chat/chat.controller.ts
  packages/server/src/chat/chat.gateway.ts
  packages/server/src/chat/chat.module.ts
  packages/server/src/chat/chat.service.ts
  packages/server/src/chat/dto/chatLog.dto.ts
  packages/server/src/chat/dto/chatRoom.dto.ts
  packages/server/src/chat/entities/chatMessage.entity.ts
  packages/server/src/chat/entities/chatRoom.entity.ts
  packages/server/src/constant/queries.ts
  packages/server/src/database/database.module.ts
  packages/server/src/product/product.service.ts
  yarn.lock
Labels: server, client, feat, refactor

#64 [fix] 병합 오류 수정
  packages/client/src/components/modules/Carousel/Indicator.tsx
  packages/client/src/pages/ChatDetailPage.tsx
  packages/client/src/pages/ProductDetailPage.tsx
  packages/server/package.json
  packages/server/src/auth/auth.controller.ts
  packages/server/src/chat/chat.gateway.ts
Labels: fix
